$var title: Niyi's Memes
<html>
  <head>
        <title> About Memtastic!© </title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        </head>
        <body>
          <div class ="header" id = > <br> </br> <br> </br> Niyi Kelani Present's: Memetastic! <br> </br> <br> </br> </div>
<br> </br>  <a href="index"> Homepage </a>  </body> <br> </br>
            <a href="thirdpage"> DEGREES! </a>

<br> </br>


<img src="static/maxresdefault.jpg" alt="Memetastic!" style="width: 650px;height:400px;">

          <div class = "redtext" id = > <p id="demo" onclick="myFunction(this, 'green')">Everybody loves memes. They can brighten your day in the lowest of times, and put a smile on you face when you need one. For example, lets say this text color is how your day is currently going. This text is red, which isn't the mosy joyous of colors, but after looking at Memtastic!©, your day will go green, a pretty happy color. Just try clicking on this text if you don't belive us!
          We created Memtastic!© to share this happiness with the world. A lot of people want to know why a memebership on this website is so expensive. Well first you have to ask yourself, how much are you willing to pay for happiness?
          If you ask us, 25,000 dollars per month is worth it to have a smile on your face, and that is why we charge that amount. It's not a rip off, we promise. These are very rare and very priceless memes that cannot be found on the internet at all with a simple google search. Yeah, definitely not.</p> </div>

          <script>
          function myFunction(elmnt,clr) {
              elmnt.style.color = clr;
          }
          </script>
