$var title: Niyi's Memes
  <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        </head>
        <body>
          <div class ="header" id = > <br> </br> <br> </br> Niyi Kelani Present's: Memetastic! <br> </br> <br> </br> </div>
          <title> About Memtastic!</title>

 <br> </br> <a href="index"> Homepage </a>  </body>
<br> </br> <a href="secondpage"> About This Website </a> <br> </br>

<div style=”width: 50%; height: 75px; overflow: auto; scrollbar-face-color: #CE7E00; scrollbar-shadow-color: #FFFFFF; br /scrollbar-highlight-color: #6F4709; scrollbar-3dlight-color:#11111; scrollbar-darkshadow-color: #6F4709; br /scrollbar-track-color: #FFE8C1; scrollbar-arrow-color: #6F4709;”> @Memtastic!© is working game that is still in its early stages of Development! Come back in early Spring 2016 to play what we will call "Degrees".
  In the Meantime, here are its design plans: It is an 8-64 bit game. Jacque Howard will design the characters and graphics. We will choose pre-made google images to edit in Adobe Photoshop for our backgrounds and characters. The objective of the game is simple. You will start out as a triangle, in the center of a screen. The triangle will always stay put in the center of the screem, but is capable of rotaing 360 degrees in each direction. Each side of the triangle will have three different colors.
  A circle (degree sign) will move round the screen and will correspond with a color on the triangle.
  You must bounce the degree sign of the side of the triangle that it corresponds with.
  The triangle will then change to a square with four sides and you must do the same. Then it will transform to a pentagon, and so on and so forth until the game becomes progressively difficult when the user reaches a shape with several sides, it the game will still be beatable as we will allow our shapes with numerous sides to have a few repeating colors, giving the user a choice of which side to bounce the degree sign on. </div> <br> </br>

<SPAN STYLE=”background-image: url(static/degreesmodel.png); font-size: 30pt”> Memtastic!© presents…DEGREES, coming 2016!</SPAN><br> </br>

  </html>
